.grid {
  width: 100%;
  border-collapse: collapse;
}

.grid th,
.grid td {
  border: 1px solid var(--color-background);
  padding: 8px;
}

.grid th {
  background: white;
  text-align: left;
}

.idHeader {
  width: 80px;
}

.nameHeader {
  font-weight: bold;
}

tbody tr:hover {
  background-color: var(--color-background-hover);
}

.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  flex-wrap: wrap;
}

.pageTitle {
  margin: 0;
}

.buttonCreate {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  color: white;
  background-color: var(--color-primary);
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
  width: auto;
  font-size: clamp(14px, 1.5vw, 16px);
}

.buttonCreate:hover {
  background-color: var(--color-primary-hover);
}

.buttonDelete {
  margin-right: 10px;
  color: var(--color-danger);
  background: none;
  border: none;
  font-size: 15px;
}

.buttonDelete:hover {
  color: var(--color-danger-hover);
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.buttonModalDelete {
  width: 80px;
  height: 30px;
  font-size: 16px;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-danger);
  color: var(--color-white);
}

.buttonModalDelete:hover {
  background-color: var(--color-danger-hover);
  cursor: pointer;
}

.buttonModalExit {
  width: 80px;
  height: 30px;
  font-size: 16px;
  align-items: center;
  margin-left: 28%;
  margin-top: 15px;
  background-color: rgb(207, 206, 206);
  border-radius: 5px;
  opacity: 1;
  border: none;
}

.buttonModalExit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.buttonEdit {
  margin-right: 10px;
  color: #4096ff;
  background: none;
  border: none;
  font-size: 15px;
}

.buttonEdit:hover {
  opacity: 0.8;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.modalDelete {
  width: 400px;
  height: 100px;
  align-items: center;
  align-content: center;
  position: fixed;
  max-width: 520px;
  transition: all;
  z-index: 100;
  pointer-events: auto;
}

.modalDelete::backdrop {
  backdrop-filter: blur(4px);
}

.modal {
  width: 520px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  position: fixed;
  max-width: 100vh;
  transition: all;
  z-index: 100;
  pointer-events: auto;
  background-color: rgb(226, 226, 226);
  border: 1px solid;
}

.modal::backdrop {
  backdrop-filter: blur(4px);
}

.modalСreateContent {
  margin-top: 30%;
}

.buttonExitCreateModal {
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;
  width: 79px;
  height: 30px;
  background-color: white;
  color: black;
  float: right;
  border: none;
}

.buttonCreateModal {
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;
  width: 79px;
  height: 30px;
  background-color: var(--color-primary);
  color: white;
  float: right;
  border: 0px;
}

.buttonCreateModal:hover {
  cursor: pointer;
  opacity: 0.9;
}
.buttonExitCreateModal:hover {
  border: 3px;
  color: var(--color-primary);
  border-color: var(--color-primary);
  cursor: pointer;
  opacity: 0.9;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 17px;
  color: #333;
}

.closeBtn:hover {
  background: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  color: var(--color-danger-hover);
}

.roleCode {
  margin-left: 10px;
  color: var(--color-primary-active);
}

.inputModal {
  opacity: 0.1;
  border-radius: 4px;
  border: 1px solid var(--color-input);
  width: 100%;
  height: 20px;
  opacity: 1;
  padding: 2px 2px 2px 7px;
}

.inputModal:hover {
  border: 1px solid var(--color-input-active);
}

.buttonActionUserMenu {
  position: absolute;
  display: flex;
  top: 100%;
  right: 0;
  z-index: 10001;
  background: #fff;
  border-radius: 8px;
  box-shadow:
    0,
    8px,
    20px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  min-width: 250px;
  padding: 6px, 0;
}
.buttonActionUserMenu:hover {
  opacity: 1;
}

.buttonActionUser {
  margin-right: 10px;
  color: var(--color-primary);
  background: none;
  border: none;
  font-size: 15px;
}

.buttonActionUser:hover {
  opacity: 0.8;

  border: none;
  font-size: 15px;

  cursor: pointer;
}

.buttonActionUserItem {
  width: 100%;
  background: #fff;
  text-align: left;
  border: none;
  background-color: unset;
}

.buttonActionUserItem:hover {
  background-color: #afaeae;
  color: var(--color-primary-hover);
  cursor: pointer;
}

.buttonActionUserWrap {
  position: relative;
  display: inline-block;
}

.container {
  display: flex;
}

.containerRoleModalDelete {
  display: flex;
  justify-content: center;
  font-size: 22px;
}
