.menuLayout {
  position: sticky !important;
  top: 0;
  left: 0;
  display: block;
  text-align: left;
  min-width: 200px;
  max-width: 200px;
  padding-top: 10px;
  color: black;
  font-size: clamp(25px, 1.5vw, 30px);
  height: 100dvh;
}

.headerLayout {
  display: flex;
  align-items: center;
  min-height: 2rem;
  padding-right: min(1rem);
  padding-bottom: min(2rem);
}

.outletLayout {
  width: 100%;
}

.container {
  width: 100%;
}
