.menuLayout {
  position: sticky !important;
  top: 0;
  left: 0;
  display: block;
  text-align: left;
  min-width: 200px;
  max-width: 200px;
  width: 200px;
  padding-top: 10px;
  color: black;
  font-size: 25px;
  height: 100dvh;
}

.headerLayout {
  display: flex;
  align-items: center;
  height: 30px;
}

.outletLayout {
  width: 100%;
}

.container {
  margin-top: 5px;
  margin-left: 10px;
  width: 100%;
}
