.modal {
  width: 520px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  position: fixed;
  max-width: 100dvh;
  transition: all;
  z-index: 100;
  pointer-events: auto;
}

.modal::backdrop {
  backdrop-filter: blur(4px);
}
