.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttonHeader {
  height: 40px;
  width: 40px;
  border: none;
  background: none;
  cursor: pointer;
}
.iconExit {
  width: 40px;
  height: 40px;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.menuItem {
  display: block;
  cursor: pointer;
}

.menuItem::-webkit-details-marker {
  display: none;
}

.menuHeader {
  margin-right: 10px;
  display: flex;
  padding: 10px;
  width: 200px;
  color: inherit;
  font-size: 16px;
}

.menuList {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  padding-left: 30px;
}

.adminPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.menu {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.headerEASSP {
  margin-bottom: 20px;
  font-size: 14px;
}
